### use # to comment out the configure item

### I/O ###
train_dir=../data/datasets/PTB-linearized/train.tsv
dev_dir=../data/datasets/PTB-linearized/dev.tsv
test_dir=../data/datasets/PTB-linearized/dev.tsv
model_dir=/tmp/random.300.linear
#use_elmo=True
contextualize=False
fine_tune_emb=False

#raw_dir=
#decode_dir=
#dset_dir=
#load_model_dir=
#char_emb_dir=

norm_word_emb=False
norm_char_emb=False
number_normalized=False
seg=False
word_emb_dim=300
char_emb_dim=30

###NetworkConfiguration###
use_crf=False
use_char=False
use_features=False
word_seq_feature=LSTM
char_seq_feature=CNN

###TrainingSetting###
status=train
optimizer=SGD
iteration=100
batch_size=8
ave_batch_loss=True

###Hyperparameters###
cnn_layer=4
char_hidden_dim=50
hidden_dim=800
dropout=0.5
lstm_layer=2
bilstm=True
learning_rate=0.02
lr_decay=0.05
momentum=0.0
l2=1e-8
#gpu=False
#clip=

###PathsToAdditionalScripts###
tree2labels=../tree2labels
en2mt=../tree2labels/encoding2multitask.py
evaluate=../tree2labels/evaluate.py
evalb=../tree2labels/EVALB/evalb
gold_dev_trees=../data/datasets/PTB_pred_tags/dev.trees
optimize_with_evalb=True

